* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Handjet', sans-serif;
  background-color: #000000;
  color: #00ff00;
}

#root {
  width: 100%;
  height: 100%;
}

